@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Boricua Bakery</h1>
    <h2>Welcome to Boricua Bakery where we have the best of the Island's Flavors!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>A Visit To The Island Through Your Taste Buds!</h3>
        <p>Come join us today!</p>
        <p>Or Order Online!</p>
     </div>
</div>





